@page "/"
@* show one (登录、急聘、广告) *@
<div class="main">
    <div class="div-top div-comm div-login"></div>
    <div class="div-top div-comm div-jipin">
        <div class="div-jipin-tab">
            <div class="font-rd">热点公告</div>
            <div class="jipin-tab-box">
                @{ 
                    string[] rd = new String[4] { "rd-gg-color-1", "rd-gg-color-2", "rd-gg-color-3", "rd-gg-color-4" };
                    int count = rd.Length;
                }
                <div class="rd-gg"><a class="@rd[new Random().Next(0, count-1)]" href="" tabindex="">鲤景湾大酒楼外卖上线啦，服务热线 22009333，18859932699</a> </div>
                <div class="rd-gg"><a class="@rd[new Random().Next(0, count-1)]" href="" tabindex="">南益邻里中心诚聘餐饮超市工作人员，年龄18-40周岁，男女不限</a> </div>
                <div class="rd-gg"><a class="@rd[new Random().Next(0, count-1)]" href="" tabindex="">大泉州人才网诚聘销售精英，良好的办公环境，欢迎您的加盟！</a> </div>
                <div class="rd-gg"><a class="@rd[new Random().Next(0, count-1)]" href="" tabindex="">大泉州房产网，泉州房产信息第1站，租房售房：24663009</a> </div>
                <div class="rd-gg"><a class="@rd[new Random().Next(0, count-1)]" href="" tabindex="">中国机械网，打造最专业的机械服务平台,服务热线：22984848</a> </div>
                <div class="rd-gg"><a class="@rd[new Random().Next(0, count-1)]" href="" tabindex="">大泉州人才网客服热线:0595-22334848</a> </div>
                <div class="rd-gg"><a class="@rd[new Random().Next(0, count-1)]" href="" tabindex="">大泉州人才网客服热线:0595-24660000</a> </div>
                <div class="rd-gg"><a class="@rd[new Random().Next(0, count-1)]" href="" tabindex="">大泉州人才网，泉州人才网均属本站工商认证标识，请认准...</a> </div>
                <div class="rd-gg"><a class="@rd[new Random().Next(0, count-1)]" href="" tabindex="">5201314.com一个与她邂逅的交友平台，网站整体筹备中，敬请</a> </div>
                <div class="rd-gg"><a class="@rd[new Random().Next(0, count-1)]" href="" tabindex="">大泉州人才网2020线上校园招聘会开始啦！！</a> </div>
            </div>
        </div>
        <div class="div-jipin-tab">
            <div class="font-zq">急聘专区</div>
            <div class="jipin-tab-box">
                <div class="jp-box"><a class="font-bold" href="" target="">四川孚艾尔信息技术咨询有限公司</a><div class="zp-zwlist">技术总监</div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">四川省人民医院</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">鹿鸣镇鹿璞生态养殖场</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">重庆儿童医院</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">新都美家有限公司</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">四川省卫生健康信息中心</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">成都中医药大学</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">绵阳市第三人民医院</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">成都信通技术有限责任公司</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">成都高薪南区银泰城</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">四川省妇女儿童医院</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">阿里巴巴蚂蚁金服</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">四川玉玄道养生馆</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">中和家常菜餐饮</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">益哆哆财务有限责任公司</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">泸州引领财务有限责任公司</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">汶川县第一人民医院</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">成都誉美医院</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">成都七中</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">眉山市公安厅</a><div class="zp-zwlist"></div></div>
            </div>
        </div>
        <div class="div-jipin-tab">
            <div class="font-zq">急聘专区</div>
            <div class="jipin-tab-box">
                <div class="jp-box"><a class="font-bold" href="" target="">四川孚艾尔信息技术咨询有限公司</a><div class="zp-zwlist">技术总监</div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">四川省人民医院</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">鹿鸣镇鹿璞生态养殖场</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">重庆儿童医院</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">新都美家有限公司</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">四川省卫生健康信息中心</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">成都中医药大学</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a class="font-bold" href="" target="">绵阳市第三人民医院</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a href="" target="">成都信通技术有限责任公司</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a href="" target="">成都高薪南区银泰城</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a href="" target="">四川省妇女儿童医院</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a href="" target="">阿里巴巴蚂蚁金服</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a href="" target="">四川玉玄道养生馆</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a href="" target="">中和家常菜餐饮</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a href="" target="">益哆哆财务有限责任公司</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a href="" target="">泸州引领财务有限责任公司</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a href="" target="">汶川县第一人民医院</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a href="" target="">成都誉美医院</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a href="" target="">成都七中</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a href="" target="">眉山市公安厅</a><div class="zp-zwlist"></div></div>
            </div>
        </div>
        <div class="div-jipin-tab">
            <div class="font-zq">急聘专区</div>
            <div class="jipin-tab-box">
                <div class="jp-box"><a href="" target="">成都信通技术有限责任公司</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a href="" target="">成都高薪南区银泰城</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a href="" target="">四川省妇女儿童医院</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a href="" target="">阿里巴巴蚂蚁金服</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a href="" target="">四川玉玄道养生馆</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a href="" target="">中和家常菜餐饮</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a href="" target="">益哆哆财务有限责任公司</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a href="" target="">泸州引领财务有限责任公司</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a href="" target="">汶川县第一人民医院</a><div class="zp-zwlist"></div></div>
                <div class="jp-box"><a href="" target="">成都誉美医院</a><div class="zp-zwlist"></div></div>
            </div>
        </div>
    </div>
    <div class="div-top div-comm div-gg-banner"></div>
</div>
<div class="clear-b"></div>
@* show two (搜索、热门关键字) *@
<div class="main">
    <div class="div-ss div-comm"></div>
</div>
<div class="clear-b"></div>
@* show shree (图片会员专区，包括一、二、三、四、五、六张图片的情况) *@
<div class="main">
    <div class="div-vip div-comm"></div>
</div>
<div class="clear-b"></div>
@* show fore (行业招聘) *@
<div class="main">
    <div class="div-vip div-comm"></div>
</div>
<div class="clear-b"></div>
@* show five (友情链接) *@
<div class="main">
    <div class="div-vip div-comm"></div>
</div>